# Copy this file to .env and fill in your values
IS_DEVELOPMENT=true

# Contact team lead for these values
ENCRYPTED_PASS_KEY=Piramal12Piramal
ABHA_CLIENT_SECRET=your_abha_client_secret_here
ABHA_CLIENT_ID=your_abha_client_id_here

# UAT URLs
BASE_TMC_URL=https://uatamrit.piramalswasthya.org/
BASE_ABHA_URL=https://abhasbx.abdm.gov.in/abha/api/
ABHA_TOKEN_URL=https://dev.abdm.gov.in/api/hiecm/gateway/v3/sessions
ABHA_AUTH_URL=https://abhasbx.abdm.gov.in/abha/api/v3/profile/public/certificate
CHAT_URL=https://piramalvoicebot.yugasa.org/